@font-face {
    font-family: 'Inter';
    src: url('/public/fonts/inter/static/Inter_18pt-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  /*
  @font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
  }
   */
  body {
    font-family: 'Inter', sans-serif;
  }
 
 main{
  margin-top:4vw;
 }


.background-photo-img {
  margin-top:-4vw;
  background-image: url('/public/img/img2.png');
  background-size: cover;
  background-position: center 30%; /* Ajusta el foco vertical */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.navbar-translucent {
  background-color: rgba(255, 255, 255, 0.4); /* blanco translúcido */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: none; /* opcional: quitar sombra si no querés profundidad */
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4); /* sombra suave */
  z-index: 1;
}
.background-photo-img > .position-relative {
  z-index: 2;
}

  .custom-container {
    max-width: 1200px;  /* Ancho máximo */
    width: 100%;  /* Ocupa todo el espacio disponible hasta el máximo */
    margin: 0 auto;  /* Centrado horizontal */
}

/* Adaptar el ancho para pantallas más pequeñas */
@media (max-width: 768px) {
    .custom-container {
        padding: 0 15px;  /* Un poco de espacio en los bordes para pantallas pequeñas */
    }
}