@font-face {
    font-family: 'Inter';
    src: url('/public/fonts/inter/static/Inter_18pt-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  /*
  @font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
  }
   */
  body {
    font-family: 'Inter', sans-serif;
  }
  

  .custom-container {
    max-width: 1200px;  /* Ancho máximo */
    width: 100%;  /* Ocupa todo el espacio disponible hasta el máximo */
    margin: 0 auto;  /* Centrado horizontal */
}

/* Adaptar el ancho para pantallas más pequeñas */
@media (max-width: 768px) {
    .custom-container {
        padding: 0 15px;  /* Un poco de espacio en los bordes para pantallas pequeñas */
    }
}